@font-face {
    font-family: "balsamiq-ligth";
    src: url(../fontes/BalsamiqSans-Bold.ttf);
}

@font-face {
    font-family: "balsamiq-bolditali";
    src: url(../fontes/BalsamiqSans-BoldItalic.ttf);
}

@font-face {
    font-family: "balsamiq-regular";
    src: url(../fontes/BalsamiqSans-Regular.ttf);
}

:root {
    --font-titulo: "balsamiq-bolditali";
    --font-subtitulo: "balsamiq-regular";
    --font-escrita: "balsamiq-ligth";
    
    --color-azul-claro: #b3d4fd;
    --color-rosa-forte: #ffa6be;
    --color-rosa-fraco: #FACADA;
    --color-roxo-claro: #e0afdb;
    --color-branco:     #FAFAFA;

    
}